### User-specific stuff:
/.git*
/.idea/workspace.xml
.dockerignore

###> composer dependencies ###
/vendor/
###< composer dependencies ###

### Vendor bin dependencies
/tools/*/vendor/
.phpunit.cache
.phpunit.result.cache

### Docker
Dockerfile
compose.yaml
