reports/*
!reports/.gitkeep

/.env.local
/build/phar
/build/*.phar*
/vendor
/tools/**/vendor

###> phpunit ###
.phpunit
.phpunit.result.cache
/phpunit.xml
.phpunit.cache
###< phpunit ###

###> friendsofphp/php-cs-fixer ###
.php-cs-fixer.cache
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###
