* text=auto
/.github                export-ignore
/.phive                 export-ignore
/build                  export-ignore
tools/**/composer.lock  binary
composer.lock           binary
phpab                   binary
*.php diff=php
